@media screen and (min-width: 46.25em) {
	.grid-container {
		grid-template-columns: 70% 30%;
		grid-auto-rows: 1fr;
		max-width: 1000px;
		margin: 0 auto;
	}

	#original-image{
		max-width: 40%;
	}


}


@media screen and (min-width: 56.25em) {

	/*  ==========
	Typography
	========== */
	h1 {
		font-size: 2em
	}

	h2 {
		font-size: 1.75em
	}

	h3 {
		font-size: 1.5em
	}

	/*  ==========
		Layout
		========== */
	.section {
		max-width: 1600px;
		margin: 0 auto;
	}

	/*  ==========
	INTRO STYLING CSS
	========== */
	.intro-content {
		text-align: left;
	}

	#section1button {
		margin: 20px 0 auto;
	}

	.content-image-wrapper {
		flex-direction: row;
	}


	/*  ==========
	INSTRUCTION STYLING
	========== */
	.instruction-wrap {
		max-width: 30%;
	}

	/*  ==========
	INSTRUCTION STYLING
	========== */
	.collection-wrap {
		flex-direction: row;
		gap: 2.5em;
		margin: 0 2.5em;
	}

	/*  ==========
	NEW ORDER CSS
	========== */
	.order-wrapper {
		text-align: left;
	}

	/*  ==========
	Components
	========== */
	.full-image {
		width: clamp(40%, 45%, 50%);
	}

	#original-image{
		max-width: 30%;
		align-self: flex-start;
		margin: 0 auto 0 0;
	}

	#artist-upload-container{
		margin: 0 auto 0 0 ;
	}


}

@media screen and (min-width: 67.4275em) {

	/*  ==========
	Typography
	========== */
	p{
		font-size: 1em;
	}



	#intro-line-1,
	#intro-line-2 {
		font-size: 2.3em;
	}




}

