/*  ==========
	Global
	========== */
:root {
	--accent-color: rgb(11, 167, 248)
}

body {
	font-family: 'Montserrat', sans-serif;
	margin: 0 auto;
	max-width: 1600px;
	font-size: 1em;

}

/*  ==========
	Typography
	========== */

h1 {
	font-size: 1.8em
}

h2 {
	font-size: 1.6em
}

h3 {
	font-size: 1.2em
}

p {
	font-size: .75em;
}

.heading-jumbo {
	margin-top: 10px;
	margin-bottom: 10px;
	position: static;
	font-weight: bold;
}

.paragraph-bigger {
	display: block;
	margin-bottom: 10px;
	position: static;
	font-weight: normal;
}

.work-heading {
	margin: 10px auto 20px;
	font-weight: bold;
}


/*  ==========
	Navigation
	========== */
.navigation-header {
	padding: 0 clamp(1rem, 2.5vw, 2rem);
	display: flex;
	align-items: center;
	justify-content: start;
	position: sticky;
	top: 0;
	z-index: 1000;
	background: white;
	border-bottom: lightblue 2px solid;
}

.navigation-footer {
	padding: 0 clamp(1rem, 2.5vw, 2rem);
	display: flex;
	align-items: center;
	justify-content: start;
	position: sticky;
	top: 0;
	z-index: 1000;
	background: white;
	border-top: lightblue 2px solid;
	margin-top: 20px;
}

.navigation-wrap {
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
}

.logo-image {
	height: 40px;
	width: auto;
}

ul {
	margin: 9px 20px;
}

li {
	display: inline;
	float: right;
}

li a {
	display: block;
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: clamp(.75em, 2.5vw, 1em);
}

li a:hover {
	color: lightblue;
}

/*  ==========
		Layout
		========== */
.section {
	margin: 0 auto;
	position: static;
	width: auto;
	height: auto;
	padding: 0;
}

.content-image-wrapper {
	display: flex;
	flex-direction: column;
}

.intro-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: static;
	align-self: center;
	margin-bottom: 30px;
	margin-right: 10px;
	margin-left: 10px;
	text-align: center;

}

.spacer{
	height: 50px;
}

/*  ==========
	INTRO STYLING CSS
	========== */

.intro-header {
	margin-bottom: 100px;
	align-items: center;
	justify-content: center;
	display: flex;
	position: static;
	background-color: lightblue;
	border-radius: 0 0 10px 10px;
}

.intro-text {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 35px;
	width: 80%;
	position: static;

}


/*  ==========
	INSTRUCTION STYLING
	========== */
.work-heading-wrapper {
	margin-bottom: 60px;
	margin-top: 60px;
	display: block;
	text-align: center;
}

.collection-list-wrapper {
	display: block;
	margin-bottom: 20px;
	width: auto;
	height: auto;
	position: static;
}

.collection-wrap {
	display: flex;
	flex-direction: column;
}

.instruction-wrap {
	flex-shrink: initial;
	display: block;
	padding-bottom: 30px;
	margin: 0 auto;
	width: 85%;
}

.instruction-title {
	font-weight: bold;
	text-align: center;
}

.instruction-description {
	text-align: center;
	font-weight: bolder;
}

/*  ==========
	TESTIMONIAL SECTION CSS
	========== */

.testimonial {
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-style: italic;
	font-weight: bolder;
}

.testimonial-credit {
	text-align: center;
	font-weight: bold;
}

.customer-info{
	text-align: center;
}

/*  ==========
	NEW ORDER CSS
	========== */


.order-wrapper {
	text-align: center;
	padding: 20px 50px 50px;
}


.order-heading-wrap {
	text-align: center;
}

#order-header-pt1,
#order-header-pt3{
	font-weight: normal;
	margin: .5em;
}

#order-header-pt2 {
	font-weight: bold;
	margin: .5em;
}

.order-form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0 auto;
}

.order-form-inner-wrapper {
	justify-content: center;
	padding: 2em;
}

.input-wrapper{
	width: 100%;
}

/*centers the text field bc they were shifted with border radius*/
#order-name,
#order-email,
#other-information{
	margin-left: -9px;
}

.label {
	margin-bottom: 25px;
}

.text-field {
	width: 100%;
	display: block;
	padding: 12px 8px;
	margin-bottom: 25px;
	font-size: 14px;
	border-width: 2px;
	border-radius: 10px;
	border-color: #e4e4e4;
	outline: none;
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.text-field.is-invalid {
	border-color: #d9534f;
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23d9534f' viewBox='-2 -2 7 7'%3e%3cpath stroke='%23d9534f' d='M0 0l3 3m0-3L0 3'/%3e%3ccircle r='.5'/%3e%3ccircle cx='3' r='.5'/%3e%3ccircle cy='3' r='.5'/%3e%3ccircle cx='3' cy='3' r='.5'/%3e%3c/svg%3E");
	background-repeat: no-repeat;
	background-position: center right calc(.35em + 6px);
	background-size: calc(.7em + 12px) calc(.7em + 12px);
}

.preview-image {
	max-width: 150px;
	height: auto;
}

.image-upload-button ,
input[type="file"]{
	text-align: center;
	background-color: gray;
	color: white;
	width: 30%;
	display: block;
	padding: 16px 35px;
	font-weight: bold;
	font-size: 1rem;
	border-radius: 10px;
	outline: none;
	margin: 20px auto;
}

.image-upload-button:focus + label,
.image-upload-button:hover + label,
.image-upload-button:active + label{
	box-shadow: 0 0 0 5px rgba(21, 156, 228, 0.4);
}

.image-upload-button-invalid{
	border-color: #d9534f;
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23d9534f' viewBox='-2 -2 7 7'%3e%3cpath stroke='%23d9534f' d='M0 0l3 3m0-3L0 3'/%3e%3ccircle r='.5'/%3e%3ccircle cx='3' r='.5'/%3e%3ccircle cy='3' r='.5'/%3e%3ccircle cx='3' cy='3' r='.5'/%3e%3c/svg%3E");
	background-repeat: no-repeat;
	background-position: center right calc(.35em + 6px);
	background-size: calc(.7em + 12px) calc(.7em + 12px);
}

#pay {
	width: 30%;
	margin: 20px auto 0 0;

}

/*input[type="file"] {*/
/*	display: none;*/
/*}*/


.grid-container {
	display: grid;
	grid-row-gap: 50px;
	grid-column-gap: 50px;
	padding-left: 0;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	grid-auto-rows: 1fr;
	border-radius: 5px;
}

.grid-child {
	outline: #222222 2px solid;
	margin: auto auto;
	column-fill: auto;

}

/*  ==========
	Components
	========== */

.button {
	display: block;
	padding: 16px clamp(5px, 20px, 35px);
	font-weight: bold;
	font-size: 1rem;
	border-radius: 10px;
	outline: none;
	margin: 20px auto;
}



.button:hover,
.button:focus{
	box-shadow: 0 0 0 5px rgba(21, 156, 228, 0.4);
}

.blue {
	background-color: dodgerblue;
	color: white;
}

.image-box {
	display: grid;
	height: 100%;
}

.full-image {
	width: clamp(60%, 70%, 70%);
	height: auto;
	margin: auto;
	padding: 40px;
}

.outline {
	outline: #222222 1px solid;
}

.instruction-img {
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 120px;
	height: auto;
}

.rendition-card{
	display: flex;
	flex-direction: column;
	/* Add shadows to create the "card" effect */
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	transition: 0.3s;
	border: lightblue 1px solid;
	text-align: center;
}


/* On mouse-over, add a deeper shadow */
.rendition-card:hover{
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-image{

	width: clamp(60%, 70%, 70%);
	height: auto;

	margin: 10px auto auto auto;
}
.rendition-description-wrapper{
	border-top: lightblue 1px solid;
}

.rendition-description{
	align-self: flex-end;
	text-align: center;
	margin: 10px auto;
}

.rendition-grid-title{
	text-align: center;
	margin-top: 50px;
}

.upload-file-ok{
	border: 3px solid green;
}

.upload-file-warning{
	border: 3px solid red;
}

.image-upload-wrapper{
	display: flex;
	align-items: center;
	justify-content: center;
	align-content: center;
}

.image-upload-wrapper--label{
	flex-grow: 4;
}



