/*
Global
 */
:root {
	--accent-color: rgb(11, 167, 248)
}

body {
	font-family: 'Montserrat', sans-serif;
}

h1 {
	font-size: 2em
}

h2 {
	font-size: 1.75em
}

h3 {
	font-size: 1.50em
}

p {
	font-size: 1em;
	width: available;
	/*width: clamp(45ch, 50%, 75ch);*/
}


/*
Header
 */

.navigation {
	padding: 0 clamp(1rem, 2.5vw, 2rem);
	display: flex;
	align-items: center;
	justify-content: start;
	position: sticky;
	top: 0;
	z-index: 1000;
	background: white;
}

.navigation-wrap {
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
}

.logo-image {
	height: 50px;
	width: auto;
}

ul {
	margin: 9px 20px;
}

li {
	display: inline;
	float: right;
}

li a {
	display: block;
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: clamp(.75em, 2.5vw, 1.4em);
}

li a:hover {
	color: lightblue;
}

/*

 */
.section {
	margin: 0 auto;
	position: static;
	width: 1600px;
	height: auto;
}


/*TODO make the nave buttons a drop down menu if below 720 */


/*

INTRO STYLING CSS

*/


.intro-header {
	border-radius: 30px;
	margin-bottom: 100px;
	align-items: center;
	justify-content: center;
	display: flex;
	position: static;
	background-color: lightblue;
}

.content-image-wrapper {
	display: flex;
	flex-direction: column;

}

.intro-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: static;
	align-self: center;
	margin-bottom: 30px;
	margin-right: 10px;
	margin-left: 10px;
	text-align: center;

}

@media screen and (min-width: 720px) {
	.intro-content {
		text-align: left;
	}

	.content-image-wrapper {
		flex-direction: row;
	}


}

.intro-text {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 35px;
	width: 80%;
	position: static;

}


.heading-jumbo {
	margin-top: 10px;
	margin-bottom: 10px;
	position: static;
	font-weight: bold;

}

.paragraph-bigger {
	display: block;
	margin-bottom: 10px;
	position: static;
	font-weight: normal;
	border: solid black 2px;

}

.button {
	display: block;
	padding: 16px 35px;
	font-weight: bold;
	font-size: 1rem;
	border-radius: 40px;
	outline: none;
	margin: 20px auto;
}

.blue {
	background-color: dodgerblue;
	color: white;
}

.full-image {
	max-width: 100%;
	height: auto;
	display: block;
	object-fit: contain;
}

.outline {
	outline: #222222 1px solid;
}


/*

INSTRUCTION STYLING

*/


.blog-heading {
	margin-bottom: 60px;
	display: block;
	text-align: center;
	border: solid black 2px;
}

.work-heading {
	margin: 10px auto 20px;
	font-weight: bold;
	border: solid black 1px;

}

.collection-list-wrapper {
	display: block;
	margin-bottom: 20px;
	width: auto;
	height: auto;
	position: static;
}

.collection-wrap {
	display: flex;
	flex-direction: column;
}

.instruction-wrap {
	flex-shrink: initial;
	display: block;
	padding-bottom: 30px;
	margin: auto;
	width: 85%;
	border-color: black;
}

.instruction-img {
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 120px;
	height: auto;
}

.instruction-title {
	font-weight: bold;
	font-size: 25px;
	text-align: center;
}

.instruction-description {
	text-align: center;
	font-weight: bolder;
}


/*

TESTIMONIAL SECTION CSS

*/

.testimonial {
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-size: 17px;
	font-style: italic;
}

.testimonial-credit {
	text-align: center;
	font-weight: bold;
	font-size: 17px;
}

.cta-wrap {
	display: block;
	background-color: #b3d4fc;

}

.container-cta {
	margin-left: auto;
	margin-right: auto;
	display: block;

	width: 100%;
	max-width: 1140px;
	position: static;
	font-family: 'Montserrat', sans-serif;
	font-weight: normal;
}

.cta {
	display: block;
	padding-top: 50px;
	margin-top: 50px;
	margin-bottom: 50px;
	font-size: 24px;
	text-align: center;
	font-weight: bold;

}


/*

	NEW ORDER CSS

*/

.order-wrapper {
	text-align: center;
	padding: 45px 50px 50px;
}

@media screen and (min-width: 720px) {
	.order-wrapper{
		text-align: left;
	}
}


.order-heading-wrap {
	margin-bottom: 40px;
}

#order-header-pt1 {
	text-align: center;
	font-weight: normal;
	font-size: 20px;
}

#order-header-pt2 {
	text-align: center;
	font-weight: bold;
	font-size: 24px;
}

#order-header-pt3 {
	text-align: center;
	font-weight: normal;
	font-size: 16px;
}

.order-form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0 auto;
	width: 100%
}

.order-form-inner-wrapper {
	justify-content: center;
	width: clamp(600px, 50%, 1140px);
}

.label {
	margin-bottom: 25px;
}

.text-field {
	width: 100%;
	display: block;
	padding: 12px 8px;
	margin-bottom: 25px;
	font-size: 14px;
	border-width: 2px;
	border-radius: 20px;
	border-color: #e4e4e4;
	outline: none;
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.text-field.is-invalid {
	border-color: #d9534f;
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23d9534f' viewBox='-2 -2 7 7'%3e%3cpath stroke='%23d9534f' d='M0 0l3 3m0-3L0 3'/%3e%3ccircle r='.5'/%3e%3ccircle cx='3' r='.5'/%3e%3ccircle cy='3' r='.5'/%3e%3ccircle cx='3' cy='3' r='.5'/%3e%3c/svg%3E");
	background-repeat: no-repeat;
	background-position: center right calc(.35em + 6px);
	background-size: calc(.7em + 12px) calc(.7em + 12px);
}

.preview-image {
	max-width: 150px;
	height: auto;
}

.image-upload-button {
	text-align: center;
	background-color: gray;
	color: white;
}

.image-upload-button.is-invalid {
	border-color: #d9534f;
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23d9534f' viewBox='-2 -2 7 7'%3e%3cpath stroke='%23d9534f' d='M0 0l3 3m0-3L0 3'/%3e%3ccircle r='.5'/%3e%3ccircle cx='3' r='.5'/%3e%3ccircle cy='3' r='.5'/%3e%3ccircle cx='3' cy='3' r='.5'/%3e%3c/svg%3E");
	background-repeat: no-repeat;
	background-position: center right calc(.35em + 6px);
	background-size: calc(.7em + 12px) calc(.7em + 12px);
}
#pay{
	width: 100%;
}

input[type="file"] {
	display: none;
}

.grid-container {
	display: grid;
	grid-row-gap: 20px;
	grid-auto-rows: 1fr;
	padding-left: 0;
	grid-template-columns: auto auto;
	outline: #222222 1px solid;
}

.grid-child {
	outline: #222222 2px solid;
	margin: 0;
	column-fill: auto;

}









