<nav class="navigation-footer">
    <div class="navigation-wrap">
        <% if (( typeof active != 'undefined' ? active : 'default' )==='') { %>
            <img class="logo-image" src="../../img/Logo@2x.png" alt="LOGO"/>
        <% } else{ %>
            <a href="/" class="logo">
                <img class="logo-image" src="../../img/Logo@2x.png" alt="LOGO"/>
            </a>
        <% } %>
        <ul>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">yeeeee</a></li>
        </ul>
    </div>
</nav>
