<section class="section">
    <!--    intro header-->
    <div class="intro-header">
        <div class="content-image-wrapper">
            <img class="steve-img" src=# onload="this.onload=null; this.src=getURL(<%=uuid%>,<%=name%> );" alt="icon" />
            <div class="intro-content">
                <!--            intro text -->
                <div class="intro-text">
                    <!--                Heading jumbo-->
                    <p class="heading-jumbo"><%= name %><%= introLine %></p>

                </div>
            </div>
        </div>
        <!--        intro content-->
    </div>
</section>
