<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View Order</title>
    <%- include('../partials/head'); %>

</head>
<body>
    <%- include('../partials/header'); %>
    <%- include('../partials/footer'); %>
</body>


