<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View Order</title>
    <%- include('../partials/head'); %>

</head>
<body>
    <%- include('../partials/header'); %>
    <h2>Right click on the Image, then click "Save image as..."</h2>
    <img class="temp-download" id="order-closeup" src="<%= downloadUrl %>" alt="icon"/>
    <%- include('../partials/footer'); %>
</body>


