<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
	<meta charset="utf-8"/>
	<title>Home</title>
	<meta name="description" content=""/>
	<meta property="og:title" content=""/>
	<meta property="og:type" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:image" content=""/>

	<link rel="manifest" href="site.webmanifest"/>
	<link rel="apple-touch-icon" href="../../icon.png"/>
	<!-- Place favicon.ico in the root directory -->

	<%- include('../partials/head');%>
</head>

<body>
<%- include('../partials/header'); %>


<!--section-->
<section class="section">
	<!--    intro header-->
	<div class="intro-header">
		<div class="content-image-wrapper">
			<div class="intro-content">
				<!--            intro text -->
				<div class="intro-text">
					<!--                Heading jumbo-->
					<h1 id="intro-line-1" class="heading-jumbo"><b>Introducing You,</b></h1>
					<h1 id="intro-line-2" class="heading-jumbo">As a Hand-Drawn Emoji</h1>
					<!--                Paragraph bigger-->
					<p class="paragraph-bigger">
						MyMoji is a fun way to commemorate your team or
						group with a customized, professional cartoon
						drawing
					</p>
					<button class="button" id="section1button" onclick="location.href='/newOrder';">
						Create Your Own
					</button>
				</div>
				<!--            button-->
				<!--				<button id="section1button" onclick="buttonClick()">-->
				<!--					Create Your Own-->
				<!--				</button>-->
			</div>
			<!--			TODO add stuff to css so that the image resizes properly depending on screen size.make the image go under the text, if the  screen is too small -->
			<img class="full-image"   src="../../img/steve.png" alt="icon"/>
		</div>
		<!--        intro content-->
	</div>
</section>

<!--section-->
<section class="section">
		<!--		info heading-->
		<div class="work-heading-wrapper">
			<h2 class="work-heading">Let's get you in character</h2>
		</div>
		<!--		collection list wrapper-->
		<div class="collection-list-wrapper">
			<!--			collection wrap-->
			<div class="collection-wrap">
				<!--				instruction wrap-->
				<div class="instruction-wrap">
					<img class="instruction-img" src="../../img/photo-camera@2x.png" alt="icon"/>
					<h3 class="instruction-title">UPLOAD YOUR PHOTO</h3>
					<p class="instruction-description">
						Send us an in-focus, well-lit photo. The artists
						know how to make you look good, so don’t stress
						about that.
					</p>
				</div>
				<div class="instruction-wrap">
					<img class="instruction-img" src="../../img/photos@2x.png" alt="icon"/>
					<h3 class="instruction-title">APPROVE YOUR DRAFT</h3>
					<p class="instruction-description">
						Customers are often surprised how good the first
						draft is. But you get unlimited edits and redos
						if you’re not happy.
					</p>
				</div>
				<div class="instruction-wrap">
					<img class="instruction-img" src="../../img/lover@2x.png" alt="icon"/>
					<h3 class="instruction-title">ENJOY YOUR MYMOJI</h3>
					<p class="instruction-description">
						Put it on Slack. Order stickers from
						<a target="_blank" href="https://www.stickermule.com/">StickerMule</a>. Put it on LinkedIn
						and Tinder. It works
						everywhere!
					</p>
				</div>
			</div>
		</div>
		<button class="button blue" id="section2button" onclick="location.href='/newOrder';">
			CREATE YOUR MYMOJI
		</button>

</section>

<!--section-->
<section class="section">
	<!--	container-->
	<div class="container">
		<!--		info heading-->
		<div class="work-heading-wrapper">
			<h2 class="work-heading">
				What people are saying about MyMoji
			</h2>
		</div>
		<!--		collection list wrapper-->
		<div class="collection-list-wrapper">
			<!--			collection wrap-->
			<div class="collection-wrap">
				<!--				instruction wrap-->
				<div class="instruction-wrap">
					<img class="instruction-img" src="../../img/Testimonial_Buddy_WithBefore@2x.png" alt="icon"/>

					<p class="testimonial">
						I love my MyMoji. It's great to share with
						friends. I put it on everything!
					</p>
					<p class="testimonial-credit">- Buddy</p>
				</div>
				<div class="instruction-wrap">
					<img class="instruction-img" src="../../img/Testimonial_Cameron_WithBefore@2x.png" alt="icon"/>

					<p class="testimonial">
						I love the MyMoji of my son Cameron. We use it
						all the time. It is our go-to gift for other
						parents.
					</p>
					<p class="testimonial-credit">- Sunny</p>
				</div>
				<div class="instruction-wrap">
					<img class="instruction-img" src="../../img/Testimonial_Adam_WithBefore@2x.png" alt="icon"/>

					<p class="testimonial">
						MyMoji looks great at any size! Now I’ve got an
						interesting, professional avatar to use
						everywhere.
					</p>
					<p class="testimonial-credit">- Adam</p>
				</div>
			</div>
		</div>
		<button class="button blue" id="section3button" onclick="location.href='/newOrder';">
			GET STARTED
		</button>
	</div>
</section>
<%- include('../partials/footer'); %>

<script src="../../js/vendor/modernizr-3.11.2.min.js"></script>
<script src="../../js/plugins.js"></script>
<script src="../../js/main.js"></script>

<!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
<script>
	window.ga = function () {
		ga.q.push(arguments);
	};
	ga.q = [];
	ga.l = +new Date();
	ga("create", "UA-XXXXX-Y", "auto");
	ga("set", "anonymizeIp", true);
	ga("set", "transport", "beacon");
	ga("send", "pageview");
</script>
<script src="https://www.google-analytics.com/analytics.js" async></script>
</body>

</html>
