<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View Order</title>
    <%- include('../partials/head'); %>

</head>
<body>
<%- include('../partials/header'); %>

<p class="paragraph-bigger">
    Our artists will get to work right away! We'll email you when
    your MyMoji is ready (expect to hear back from us within 24-48
    hours). We think you'll love it, but once you receive your
    MyMoji you'll also be able to request any changes you think will
    make it that much better.
</p>

<%- include('../partials/footer'); %>
<script src="../../js/vendor/modernizr-3.11.2.min.js"></script>
<script src="../../js/plugins.js"></script>
<script src="../../js/main.js"></script>

</body>
</html>
