<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
	<meta charset="UTF-8"/>
	<title>Success!</title>
	<%- include('../partials/head');%>
</head>
<body>
<%- include('../partials/header'); %>

<section class="section">
	<p class="heading-jumbo">Hooray! Your MyMoji is now in progress.</p>
	<p class="paragraph-bigger">
		Our artists will get to work right away. We'll email you when
		your MyMoji is ready (expect to hear back from us within 24-48
		hours). We think you'll love it, but once you receive your
		MyMoji you'll also be able to request any changes you think will
		make it that much better.
	</p>
	<p class="work-heading" style="text-align: left">
		Here's your order ID : <%=uuid%>
	</p>
	<p class="paragraph-bigger">
		If you have any questions you can reach us at contact@mymoji.com
	</p>

	<!-- <a href="mailto:contact@mymoji.com">here</a> -->
</section>
<%- include('../partials/footer'); %>
<script src="../../js/vendor/modernizr-3.11.2.min.js"></script>
<script src="../../js/plugins.js"></script>
<script src="../../js/main.js"></script>

</body>
</html>
