<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>View Order</title>
	<%- include('../partials/head');%>
</head>
<body>
<%- include('../partials/header'); %>






<script src="../../js/vendor/modernizr-3.11.2.min.js"></script>
<script src="../../js/plugins.js"></script>
<script src="../../js/main.js"></script>

</body>
</html>
